#titlebar {
margin-bottom:-47px!important;
height:47px!important;
border-top-left-radius:4px!important;
border-top-right-radius:4px!important;
pointer-events:none
}

.titlebar-placeholder {
display:none
}

#titlebar-buttonbox-container {
margin-left:0!important;
margin-top:11px!important
}

#titlebar-buttonbox {
margin:0!important;
position:relative!important;
display:flex!important;
width:100px!important;
height:25px!important;
justify-content:space-between!important;
z-index:1!important
}

#titlebar-close,#titlebar-max,#titlebar-min {
pointer-events:auto!important
}

#titlebar-max,#titlebar-min {
filter:invert(100%)
}

#navigator-toolbox {
--tabs-border-color:transparent!important
}

#navigator-toolbox:after {
display:none!important
}

#nav-bar {
height:47px!important;
padding:0 130px 0 15px !important;
background:#d7d6d7!important;
border-top-left-radius:4px!important;
border-top-right-radius:4px!important;
border-top-width:0!important;
border-bottom:1px solid rgba(0,0,0,0.3)!important;
box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 0 rgba(255,255,255,0.2)!important
}

#urlbar-container,#searchbar {
margin:0!important
}

#urlbar,#searchbar .searchbar-textbox {
margin-top:9px!important;
margin-bottom:9px!important;
max-height:29px!important;
min-height:29px!important;
font-size:14px;
background:linear-gradient(to bottom,#fff,#f3f3f3)!important;
background-clip:padding-box!important;
border:1px solid rgba(0,0,0,0.2)!important;
border-bottom:1px solid rgba(0,0,0,0.3)!important;
border-radius:5px!important
}

#PopupAutoCompleteRichResult {
background-clip:padding-box!important;
border-top:none!important;
border-left:none!important;
border-right:none!important;
border-bottom:1px solid rgba(0,0,0,0.35)!important;
box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.1)!important
}

#PopupAutoCompleteRichResult .search-panel-header,#PopupAutoCompleteRichResult .search-panel-one-offs {
background:#f5f5f5!important;
border-top:1px solid transparent!important
}

#PopupSearchAutoComplete {
background-clip:padding-box!important;
border:1px solid rgba(0,0,0,0.35)!important;
border-radius:4px!important;
box-shadow:0 2px 4px 0 rgba(0,0,0,0.175)!important
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
width:28px!important;
height:28px!important;
padding:6px!important;
margin-right:6px!important
}

toolbar .toolbarbutton-1:hover > .toolbarbutton-icon {
background:none!important;
box-shadow:none!important
}

toolbar .toolbarbutton-1:active > .toolbarbutton-icon {
background:rgba(51,51,51,0.15)!important
}

#back-button > .toolbarbutton-icon,#forward-button .toolbarbutton-icon,#reload-button .toolbarbutton-icon,#stop-button .toolbarbutton-icon,#home-button .toolbarbutton-icon,#PanelUI-menu-button {
padding:3px!important;
background:linear-gradient(to bottom,#fff,#f0f0f0)!important;
background-clip:padding-box!important;
border:1px solid rgba(0,0,0,0.2)!important;
border-bottom:1px solid rgba(0,0,0,0.3)!important;
border-radius:5px!important
}

#back-button > .toolbarbutton-icon:hover,#forward-button .toolbarbutton-icon:hover,#reload-button .toolbarbutton-icon:hover,#stop-button .toolbarbutton-icon:hover,#home-button .toolbarbutton-icon:hover,#PanelUI-menu-button:hover {
border:1px solid rgba(0,0,0,0.4)!important;
border-bottom:1px solid rgba(0,0,0,0.6)!important
}

#PanelUI-menu-button {
width:25px;
height:25px;
padding:1px!important;
margin:9px 0!important
}

#back-button > .toolbarbutton-icon {
list-style-image:url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%28-393 255%29'%3E%3Cpath color='%23bebebe' d='M405.188-251.016c-.246-.01-.476.1-.657.28l-7.125 6.97a1.03 1.03 0 0 0-.28.5.965.965 0 0 0-.032.28.976.976 0 0 0 0 .094c.01.055.012.104.031.157.04.189.13.38.281.531l7.125 6.969c.362.361.952.329 1.344-.063l1.406-1.406c.392-.392.425-1.013.063-1.375l-2.906-2.906H411c.554 0 1-.446 1-1v-2c0-.554-.446-1-1-1h-6.594l2.938-2.938c.362-.361.33-.952-.063-1.343l-1.406-1.438a1.035 1.035 0 0 0-.687-.312z' fill='%235e5e5e' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E")!important;
filter:drop-shadow(0 1px 0 rgba(255,255,255,0.4));
border:none!important;
background:none!important
}

#back-button:active > .toolbarbutton-icon {
background:rgba(51,51,51,0.15)!important;
box-shadow:none!important
}

#forward-button {
list-style-image:url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%28-433 255%29'%3E%3Cpath color='%23bebebe' d='M444.813-251.016c.245-.01.475.1.656.28l7.125 6.97c.147.146.239.316.281.5a.965.965 0 0 1 .031.28.976.976 0 0 1 0 .094c-.01.055-.011.104-.03.157-.041.189-.13.38-.282.531l-7.125 6.969c-.362.361-.952.329-1.344-.063l-1.406-1.406c-.392-.392-.424-1.013-.063-1.375l2.907-2.906H439c-.554 0-1-.446-1-1v-2c0-.554.446-1 1-1h6.594l-2.938-2.938c-.361-.361-.329-.952.063-1.343l1.406-1.438c.196-.196.442-.303.688-.312z' fill='%235e5e5e' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E")!important;
filter:drop-shadow(0 1px 0 rgba(255,255,255,0.4))
}

#reload-button {
list-style-image:url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%28-433 175%29'%3E%3Cpath color='%23bebebe' d='M445.531-172c-.3 0-.53.253-.53.563V-170a7 7 0 1 0 7 7h-3a4 4 0 1 1-4-4v1.438c0 .309.23.562.53.562a.56.56 0 0 0 .22-.031l4.905-2.938a.592.592 0 0 0 .344-.531.592.592 0 0 0-.344-.531l-4.906-2.938a.558.558 0 0 0-.219-.03z' fill='%235e5e5e' overflow='visible' style='isolation:auto;mix-blend-mode:normal;marker:none'/%3E%3C/g%3E%3C/svg%3E")!important;
filter:drop-shadow(0 1px 0 rgba(255,255,255,0.4))
}

#stop-button {
list-style-image:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' height='24' width='24' version='1.1' id='svg6'%3E%3Cmetadata id='metadata12'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs10' /%3E%3Cpath d='m 7.1875,5.0026092 c -0.243988,0.0069 -0.474752,0.112716 -0.65625,0.3125 l -1.25,1.375 c -0.362996,0.399568 -0.353579,1.027726 0.03125,1.40625 l 3.96875,3.9062498 -3.96875,3.90625 c -0.384829,0.378524 -0.394246,1.006682 -0.03125,1.40625 l 1.25,1.375 c 0.362996,0.399568 0.958921,0.409774 1.34375,0.03125 l 4.125,-4.0625 4.125,4.0625 c 0.384829,0.378524 0.980754,0.368318 1.34375,-0.03125 l 1.25,-1.375 c 0.362996,-0.399568 0.353579,-1.027726 -0.03125,-1.40625 l -3.96875,-3.90625 3.96875,-3.9062498 c 0.384829,-0.378524 0.394246,-1.006682 0.03125,-1.40625 l -1.25,-1.375 C 17.105754,4.9155411 16.509829,4.9053351 16.125,5.2838592 L 12,9.3463592 7.875,5.2838592 C 7.682586,5.0945972 7.431488,4.9957431 7.1875,5.0026092 Z' id='rect3280' style='color:%23000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;fill:%235e5e5e;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate' /%3E%3C/svg%3E")!important;
filter:drop-shadow(0 1px 0 rgba(255,255,255,0.4))
}

#home-button {
list-style-image:url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%28-353 255%29'%3E%3Cpath color='%23bebebe' d='M365-251l-8.844 8.844 1.688 1.719 1.156-1.157V-235h5v-4c0-.554.446-1 1-1s1 .446 1 1v4h5v-6.594l1.156 1.156 1.688-1.718zm4 1v1.531l2 2.094V-250z' fill='%235e5e5e' overflow='visible' style='isolation:auto;mix-blend-mode:normal;marker:none'/%3E%3C/g%3E%3C/svg%3E")!important;
filter:drop-shadow(0 1px 0 rgba(255,255,255,0.4))
}

#PanelUI-button {
border:none!important
}

#TabsToolbar {
-moz-box-ordinal-group:4;
padding-inline-start:0!important;
margin:0!important;
padding:0!important;
max-height:30px!important;
min-height:30px!important;
width:100vw!important;
display:flex!important;
background:linear-gradient(#bbb,#b4b4b4)!important;
border-bottom:1px solid #898989!important;
direction:ltr
}

#tabbrowser-tabs {
padding-inline-start:0!important;
--tab-min-height:29px!important;
max-height:29px!important;
width:100%
}

.tabbrowser-tab {
max-height:29px!important;
direction:rtl;
margin-left:-1px!important
}

.tabbrowser-tab:first-child {
margin-left:0!important
}

.tabbrowser-tab:not([pinned]) {
min-width:76px!important;
width:180px!important
}

.tabbrowser-tab:not([visuallyselected="true"]) {
border-left:1px solid rgba(0,0,0,0.1)!important;
border-right:1px solid rgba(0,0,0,0.1)!important
}

.tabbrowser-tab:after {
display:none!important
}

.tabbrowser-tab[selected="true"] {
border-top:1px solid none!important;
border-left:1px solid #898989!important;
border-right:1px solid #898989!important
}

.tab-background {
border-top:0!important
}

.tab-background[selected="true"] {
background-attachment:none!important;
background:#d7d6d7!important
}

#TabsToolbar .tab-close-button {
-moz-box-ordinal-group:0!important;
margin-left:-5.5px!important;
border-radius:2px!important;
list-style-image:url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='%235b5b5b' transform='translate%28-713 -157%29'%3E%3Cpath d='M720.97 163.556L723.5 161l1.5 1.5-2.598 2.487L725 167.5l-1.5 1.5-2.512-2.599L718.5 169l-1.5-1.5 2.586-2.5-2.586-2.5 1.5-1.5z' fill='%235b5b5b' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E")!important;
filter:drop-shadow(0 1px 0 rgba(255,255,255,0.4))!important
}

#TabsToolbar tab:not([visuallyselected="true"]):not(:hover) .tab-close-button {
opacity:0!important
}

#TabsToolbar tab:hover .tab-close-button {
opacity:1!important
}

#TabsToolbar tab .close-icon:hover {
-moz-image-region:unset!important;
background-color:rgba(0,0,0,0.1)!important;
background-clip:padding-box!important
}

#TabsToolbar tab .close-icon:hover:active {
background-color:rgba(0,0,0,0.15)!important
}

#TabsToolbar .tab-content > * {
margin-top:0!important;
margin-bottom:0!important
}

tab .tab-icon-image {
-moz-box-ordinal-group:2!important;
margin-right:6px!important
}

.tab-label {
-moz-box-flex:1!important;
color:#4b4b4b!important;
text-align:center!important;
text-shadow:0 1px 0 rgba(255,255,255,0.4)!important
}

.tab-label[selected="true"] {
color:#333!important
}

.tab-line {
display:none!important
}

#TabsToolbar[movingtab] {
padding-bottom:unset!important
}

#TabsToolbar[movingtab] > .tabbrowser-tabs {
padding-bottom:unset!important;
margin-bottom:unset!important
}

#TabsToolbar[movingtab] + #nav-bar {
margin-top:unset!important
}

#tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
position:unset!important;
margin-inline-start:unset!important
}

#tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] > .tab-stack {
border-inline-end:none!important
}

#toolbar-menubar {
-moz-box-ordinal-group:2;
margin:0!important;
padding:0 50px 0 0 !important;
background:#d1d1d1!important;
border-bottom:1px solid #898989!important;
box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 0 rgba(255,255,255,0.2),inset 1px 0 0 0 rgba(255,255,255,0.2),inset -1px 0 0 0 rgba(255,255,255,0.2)!important;
text-shadow:0 1px 0 rgba(255,255,255,0.4)!important
}

#titlebar-content {
margin-bottom:0!important
}

#PersonalToolbar {
-moz-box-ordinal-group:3;
padding:6px!important;
background:#d1d1d1!important;
border-bottom:1px solid #898989!important;
box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2),inset 0 -1px 0 0 rgba(255,255,255,0.2),inset 1px 0 0 0 rgba(255,255,255,0.2),inset -1px 0 0 0 rgba(255,255,255,0.2)!important
}

.bookmark-item {
padding:3px 5px!important;
text-shadow:0 1px 0 rgba(255,255,255,0.4)!important
}

menupopup {
-moz-appearance:none!important;
background:#fff!important;
border-radius:4px!important;
border:1px solid rgba(0,0,0,0.35)!important;
box-shadow:0 1px 2px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.12)!important
}

.panel-arrowcontent {
background:#fff!important;
border-radius:4px!important;
box-shadow:0 1px 2px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.12)!important
}
